.loginContainer {
    max-width: 400px;
    width: 100%;
}


.brandName {
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Logo {
    max-width: 350px;
    width: 100%;
}

.logoButton {
    background-color: #f1901f;
    border: #f1901f;
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logoButton:hover {
     background-color: #cb781a;
    border: #f1901f;
}

.formLabel {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #6d634f;
}