.main {
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.bodyCopy{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}


.orangeTxt {
    color: #f1901f !important ;
}

.logo {
    max-width: 200px;
}