.booking-card-wrapper {
  width: 100%;        
  max-width: 100%;    
  height: 100%;     
  margin: 0;
  overflow: hidden; 
  
  position: relative;
}

.booking-card-inner {
  display: flex;
  width: 200%; 
  flex-direction: column;
  height: 100%;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1); /* Animazione fluida */
}

/* Quando passi il mouse sul wrapper, sposta l'interno del 50% verso sinistra */
.booking-card-wrapper:hover .booking-card-inner {
  transform: translateX(-50%);
}

.booking-image {
  width: 50%; /* Ognuno occupa metà della larghezza totale (che è 200%) */
  height: 100%;
  position: relative;
  flex: 1;
}

.booking-form-content {
  width: 50%; /* Ognuno occupa metà della larghezza totale (che è 200%) */
  height: 100%;
  position: relative;
  flex: 2;
  overflow-y: auto;
}

.booking-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-form-content {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}