.headLine {
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #6d634f;
}

.bodyCopy {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #6d634f;
}

.dettagliButton {
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #f1901f;
    border: #f1901f;
    font-family: "Metrophobic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.dettagliButton:hover {
    background-color: #cb781a;
    border: #f1901f;
}

.dettagliButton:active {
    background-color: #cb781a !important;
    border-color: #f1901f !important;
    outline: none; 
}
